<!-- <mat-toolbar color="primary" class="main-toolbar">
    <mat-toolbar-row fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo-container">
                <mat-icon>bus</mat-icon>
            </div>
            <h1 class="example-app-name">BOOKING SYSTEM</h1>
        </div>
        <button mat-button (click)="logOut()">Log out</button>
    </mat-toolbar-row>
</mat-toolbar> -->


<!-- <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">BOOKING SYSTEM</h1>
</mat-toolbar> -->
