<div *ngIf="(orders$ | async) as orders; else loading">

  <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="tabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon class="material-icons-outlined">pending</mat-icon>
          <span>Pending</span>
        </div>
      </ng-template>

      <ng-container *ngIf="orders[0].length > 0; else noData">
        <div fxLayout="column" fxLayoutAlign="start stretch" ngClass.gt-sm="py-3 px-5" fxLayoutGap="10px">
          <app-order-card fxFlex.gt-sm="30" *ngFor="let order of orders[0]" [order]="order"
            [store]="store"></app-order-card>
        </div>
      </ng-container>

    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon class="material-icons-outlined">auto_mode</mat-icon>
          <span>Progress</span>
        </div>
      </ng-template>
      
      <ng-container *ngIf="orders[1].length > 0; else noData">
        <div fxLayout="column" fxLayoutAlign="start stretch" ngClass.gt-sm="py-3 px-5" fxLayoutGap="10px">
          <app-order-card fxFlex.gt-sm="30" *ngFor="let order of orders[1]" [order]="order"
            [store]="store"></app-order-card>
        </div>
      </ng-container>
    </mat-tab>



    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon class="material-icons-outlined">assignment_turned_in</mat-icon>
          <span>Completed</span>
        </div>
      </ng-template>
     
      <ng-container *ngIf="orders[2].length > 0; else noData">
        <div fxLayout="column" fxLayoutAlign="start stretch" ngClass.gt-sm="py-3 px-5" fxLayoutGap="10px">
          <app-order-card fxFlex.gt-sm="30" *ngFor="let order of orders[2]" [order]="order"
            [store]="store"></app-order-card>
        </div>
      </ng-container>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon class="material-icons-outlined">assignment_late</mat-icon>
          <span>Canceled</span>
        </div>
      </ng-template>
     
      <ng-container *ngIf="orders[3].length > 0; else noData">
        <div fxLayout="column" fxLayoutAlign="start stretch" ngClass.gt-sm="py-3 px-5" fxLayoutGap="10px">
          <app-order-card fxFlex.gt-sm="30" *ngFor="let order of orders[3]" [order]="order"
            [store]="store"></app-order-card>
        </div>
      </ng-container>

    </mat-tab>

  </mat-tab-group>


</div>

<ng-template #noData>
  <div fxLayoutAlign="center center" fxLayout="column" class="w-full pb-60 h-screen">
    <app-no-items fxFlexAlign="center" icon="receipt_long" title="No Orders at the moment"
      description="Orders will show here when you one arrive."></app-no-items>
  </div>
</ng-template>

<ng-template #loading>
  <div fxLayoutAlign="center center" fxLayout="column" ngClass.lt-lg="mb-40" class="w-full h-screen">
    <mat-progress-spinner mode="indeterminate" [diameter]="50" color="primary"></mat-progress-spinner>
  </div>
</ng-template>

