<mat-toolbar  class="mat-elevation-z8">
    <mat-toolbar-row fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayout="row"  class=" w-full"  fxLayoutAlign="space-between center">
            <div class="logo-container w-full" fxLayout="row" fxLayoutAlign="space-between center" >
                <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button> 
                
            </div>
            <mat-chip-listbox class="p-0 m-0" aria-label="Fish selection">
                <mat-chip-option color="accent" selected>Online</mat-chip-option>
              </mat-chip-listbox>
            
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
   
    <mat-sidenav #sidenav class="example-sidenav" [mode]="this.currentScreenSize === 'XSmall' ? 'over' : 'side'" opened="true" >
        <div class="w-full h-40 contrast-200 bg-black" fxLayout="column" fxLayoutAlign="center center" [style.background-image]="'url(' + store.bannerImage + ')'">
            <div fxLayout="column" fxLayoutAlign="center center" >
                <img [src]="store.logo" class="rounded-full border-4 shadow-xl drop-shadow-lg dark:shadow-gray-800 border-white w-20 h-20">
                <p class="text-white mt-1 font-bold shadow-indigo-500/40">{{store.name}}</p>
            </div>
        </div>
        <mat-nav-list>
            <div mat-subheader>General</div>
        
            <mat-list-item   class="parent" routerLinkActive="active" (click)="closeWhenClick()" [routerLink]="['/dashboard/home']">
                <span class="full-width">Live Order</span>
                <mat-icon class="material-icons-outlined" matListItemIcon>history</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/menus/list']" (click)="closeWhenClick()" >
                <span class="full-width">Menu</span>
                <mat-icon class="material-icons-outlined" matListItemIcon>restaurant_menu</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/business-hours']" (click)="closeWhenClick()">
                <span class="full-width">Opening Hours</span>
                <mat-icon class="material-icons-outlined" matListItemIcon>access_time</mat-icon>
            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item  class="parent" [routerLink]="['/dashboard/settings']" (click)="closeWhenClick()">
                <span class="full-width">Settings</span>
                <mat-icon class="material-icons-outlined" matListItemIcon>settings</mat-icon>
            </mat-list-item>
            <mat-list-item  class="parent" [routerLink]="['/dashboard/stores/list']" (click)="closeWhenClick()">
                <span class="full-width">Logout</span>
                <mat-icon class="material-icons-outlined" matListItemIcon>power_settings_new</mat-icon>
            </mat-list-item>

        </mat-nav-list>
        <mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content h-screen" style="background-color: #f1f3f4;">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>
