

.header {
    margin-bottom: 20px;
    .details {
      p {
          padding: 0;
          margin: 0
      }
      h2 {
        margin-bottom: 0;
      }
  }
  }

  .example-card {
     width: 300px;
     margin-bottom: 10px;
  }

  .fullscreen-dialog {
      max-width: 100% !important;
      max-height: 100% !important;
      width: 100%;
      height: 100%;
    }